<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="F:/irctc/src/test/java/com/maroti/page/BookTicketPageTest.java">
        <classes>
            <class name="com.maroti.page.LoginPageTest"/>
            <class name="com.maroti.page.HomePageTest"/>
            <class name="com.maroti.page.BookTicketPageTest"/>
        </classes>
    </test>
</suite>